.audio.impact-section {
	.sc_player_container1 .myButton_play,
	.sc_player_container1 .myButton_stop {
		background-color: $red !important;
	}

	.audio-files {
		.file {
			& + .file {
				border-top: 1px solid $red;
			}
		}

		.info {
			.headline {
				h3 {
					font-weight: bold;
				}
			}
		}
	}

	&.dark-theme {
		.audio-files {
			.file {
				& + .file {
					border-top: 1px solid $light-blue;
				}
			}			
		}

		.sc_player_container1 .myButton_play,
		.sc_player_container1 .myButton_stop {
			background-color: $light-blue !important;
		}
	}
}