.map.impact-section {
	.copy {
		.credit {
			&:before {
				content: '';
				display: block;
				width: 70px;
				height: 4px;
				background: $blue;
				margin-bottom: 0.5rem;
			}
		}
	}

	&.dark-theme {
		.copy {
			.credit {
				&:before {
					background: $white;
				}
			}
		}
	}	
}