.video.impact-section {
	.video-player {
		.time {
			background: $red;
			color: $white;
			@include monospace;
			font-size: 1rem;
			padding: 8px 12px 6px 12px;
		}
	}

	.copy {
		.credit {
			&:before {
				content: '';
				display: block;
				width: 70px;
				height: 4px;
				background: $blue;
				margin-bottom: 0.5rem;
			}
		}
	}

	&.dark-theme {
		.copy {
			.credit {
				&:before {
					background: $white;
				}
			}
		}
	}
}