body,
button,
input,
select,
optgroup,
textarea {
	font-family: $roboto;
}

a {
	color: $blue;
}

.site-content {
	.headline {
		h1, h2, h3, h4, h5, h6 {
			color: $blue;
		}		
	}

	.hero {
		.headline {
			h1, h2, h3, h4, h5, h6 {
				color: $white;
			}	
		}
	}
}


.p1 {

}

.p2 {
	font-family: $merriweather;
	font-size: 0.875rem;
	line-height: 1.75em;

	@include desktop-small {
		font-size: 1rem;
	}
}

.p3 {

}

.credit {
	@include monospace;
	font-size: 0.875rem;
}

.footnotes {
	font-style: italic;
	font-size: 1rem;

	a {
		color: $red;
		text-decoration: underline;
	}
}