@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,900;1,400;1,700&family=Roboto+Mono:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');


$roboto: 'Roboto', sans-serif;
$roboto-mono: 'Roboto Mono', monospace;
$merriweather: 'Merriweather', serif;

$revelstoke: 'Revelstoke Regular', monospace;