body.page-template-alternatives {
    .tabs {
        .tab-links {
            border-color: $blue;

            a {
                transition: all 0.2s ease-in;
                border-color: $blue;
                color: $blue;
                
                &:hover,
                &.active {
                    background: $blue;
                    color: $white;
                    border: 2px solid $blue;
                    border-bottom: none;
                }
            }
        }
    }

    section.alternative {
        .toggle-bar {
            @include monospace;
            background: $blue;
            padding-bottom: 0.8125rem;
        }
    }
}