@import 'template-parts/environmental-impacts/impact-section';

@import 'template-parts/environmental-impacts/key-findings';

@import 'template-parts/environmental-impacts/video';

@import 'template-parts/environmental-impacts/map';

@import 'template-parts/environmental-impacts/audio';

.ba-slider .caption {
    font-size: 0.8125rem;
}

.impact-section .section-header h4 {
    font-size: 0.875rem;
    font-weight: bold;

    @include tablet {
        font-size: 1rem;
    }

    
}