.blog {
    .site-content {
        background: $cream;
    }
}

@import 'template-parts/news/posts-archive';


.recent-posts {
    article {
        .info {
            .meta {
                .date {
                    span {
                        @include monospace;
                        color: $red;
                        font-size: 0.75rem;
                    }
                }
            }
        }
    }
}

.posts-archive .month-header h5 {
    font-size: 1rem;
    font-weight: bold;
}

body.single-post .post-article .article-header .date h4,
.posts-archive .month .post .excerpt .post-date {
    font-size: 0.75rem;
    font-weight: bold;
}

.recent-posts article .info .meta .date span {
    font-weight: bold;
    font-size: 0.675rem;
}

body.single-post .post-article .article-header .meta .categories .headline h5 {
    font-size: 0.75rem !important;
    font-weight: bold !important;
    padding-bottom: 0.5rem;
}