body.page-template-project-overview {

    .site-content {
        .project-background {
            background: $blue;
    
            * {
                color: $white;
            }        
        }
    
        .location {
    
            background: $cream;
        }

        .project-objectives {
            background: $light-blue;
    
            * {
                color: $white;
            }        
        }

        .timeline {
            .date {
                h5 {
                    @include monospace;
                    font-size: 0.75rem;
                    color: $red;
                    font-weight: bold;
                }
            }
        }

        .summary {
            background: $cream;
        }

    }



}