body.single-post {
    .site-content {
        background: $cream;
    }

    .post-article {
        .article-header {
            .date {
                h4 {
                    @include monospace;
                    color: $red;
                }
            }

            .meta {
                .categories {
                    .headline {
                        h5 {
                            text-transform: uppercase;
                            letter-spacing: 0.1em;
                            font-size: 1rem;
                            font-weight: bold;
                            @include monospace;
                        }
                    }

                    .post-categories {
                        a {
                            display: block;
                            color: $red;
                            border: 2px solid $red;
                            font-weight: bold;
                            text-transform: uppercase;
                            font-size: 0.6725rem;
                            letter-spacing: 0.02em;
                            padding: 0.5rem 0.5rem 0.4rem 0.5rem;
                    
                            &:hover {
                                text-decoration: none;
                                background: $red;
                                color: $off-white;
                            }
                        }
                    }
                }
            }
        }
    }
}