.cta {
	.btn {
		color: $red;
		border: 2px solid $red;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 0.75rem;
		letter-spacing: 0.02em;

		&:hover {
			background: $red;
			color: $off-white;
		}
	}
}
