.documents-list {
	
	table {

		thead {
			th {
				background: $light-blue;
				color: $white;;
			}
		}

		tbody {
			background: $white;
			color: $blue;

			.cat-header {
				background: $blue;
				color: $white;
			}

			tr.file {
				.title {
					a {
						font-weight: normal;
					}
				}

				.pdf {
					a {
						color: $red;
						font-size: 0.75rem;
						letter-spacing: 0.05em;
					}
				}				
			}
		}
	}
}