.filter {
	background: $cream;
	padding-top: 3rem;

	form {
		padding-bottom: 0.25rem;

		label {
			color: $blue;
		}

		input[type="search"] {
			border-radius: 3px;
			box-shadow: 0 0 8px rgba(36, 107, 128, 0.25);

			@include placeholder {
				color: $black;
			}
		}
	}
}