@import 'subscribe';

@import 'social-links';


.download-report a .details {
    font-size: 0.675rem;
    padding-left: 0;
}

.content-header {
    .headline {
        h3 {
            font-weight: bold;
        }
    }
}