section.home-hero {
	.project-info {
		color: $blue;
		background: rgba(255, 255, 255, 0.5);

		@include desktop-small {
			background: none;
		}

		h2 {
			font-weight: bold;
		}

		h1 {
			color: $light-green;

		}

		h5 {
			@include monospace;
			font-size: 0.75rem;
			line-height: 1.25em;
			font-weight: bold;

		}
	}
}